/* 列表页专有样式 */
/* 秒杀 */
.sk{
    position: absolute;
    left: 190px;
    top:40px;
    border-left: 1px solid #c81523;
    padding: 3px 12px;
}
.sk_list{
    float: left;
}
.sk_list ul li {
    float: left;
    height: 47px;
    line-height: 47px;
}
.sk_list ul li a{
    display: block; 
    padding: 0 30px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.sk_con{
    float: left;
    height: 47px;
    line-height: 50px;
}
.sk_con ul li{
    float: left;
}
.sk_con ul li a{
    display: block;
    padding: 0 20px;
    font-size: 14px;
}
.sk_con ul li:last-child a::after{
    content: '\e91e';
    font-family: 'icomoon';
}
/* 列表页主体 */
.sk_bd{
    margin-top: 20px;
}
.sk_bd ul li{
    float: left;
    border: 1px solid #ededed;
    margin: 20px 10px 20px 0px;
}
.sk_bd ul li:nth-child(4n){
    margin-right: 0px;
}
.sk_bd ul li:hover{
    border: 1px solid #f40;
}
.sk_bd .sk_item{
    width: 290px;
    height: 450px;
   
    /* background-color: aquamarine; */
}
.sk_item img{
    width: 290px;
    height: 290px;
}
.sk_xq{
    padding: 10px 12px;
    height: 160px;
}
.sk_dj{
    height: 35px;
    line-height: 35px;
}
.sk_dj span{
    color: #f40;
    font-size: 18px;
}
.sk_dj strong{
    color:#f40 ;
    font-weight: 700;
    font-size: 18px;
}
.sk_dj .fk{
    float: right;
    color: #666;
    font-size: 12px;
}
.sk_ms{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.dp{
    height: 60px;
    line-height: 60px;
    margin-top: 20px;
}
.dp a{
    display:inline-block;
    font-size: 16px;
}

.dp span{
    font-size: 20px;
    content: '\e90a';
    font-family: 'icomoon';
    color: red;
}
.dp .dz{
    float: right;
    color: #666;
    font-size: 12px;
    line-height: 70px;
}
.hot_gd a{
    float: right;
    display: block;
    width: 70px;
    height: 30px;
    border-radius: 2px;
    background-color: #f40;
    color: #fff;
    margin-bottom: 20px;
    line-height: 30px;
    text-align: center;
}
.hot_gd a:hover{
    background-color:#f82800 ;
}